 <html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tip Your Server - Fond du Lac</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
     <link rel="stylesheet" href="./css/main.css">
  </head>
 
 <body class="">
    <div id="bigwrapper" class="w3-card-2 w3-round-large">

      <header class="w3-container w3-blue w3-round-large">
        <h1>Tip Your Server - Fond du Lac Area</h1>
        <!-- <div id="relatedsites" class="linklist">
          <a href="https://docs.google.com/document/d/e/2PACX-1vRfSxHaPuUEnRqQmunDI5UsVAoPk6FC6-NCvMlyWWsarfdB6_wDn15RgaNnyMNNMKUvZOc2PV5nUJjH/pub?fbclid=IwAR0MUIb-_g1mGW-Sb-8lfbLGHX-tlr2baU-ZpsUqebYQ4t2f7-WbKMnTBQ">Madison Tip Jar Sign Up</a>
          |
          <a href="http://centerforethicsandpolicy.com/PGHTipJar.html">Pittsburgh Tip Jar Sign Up</a>
        </div>
        <br> -->
        <div id="contact" class="linklist">
          Support service industry workers put out of work by the COVID-19 pandemic with a virtual tip!
        </div>
        <br><br>
      </header>
      <br><Br>
      {{{body}}}

      <p id="maincopy">
        The Fond du Lac Area Virtual Tip Jar is a fork of the Open Source Virtual Tip Jar | Please reach out to Eric Udlis at udlis.eric@gmail.com for concerns about this site and see below for the bigger project
        <br>--<br>
        Virtual Tip Jars are open-source, community-driven resources to help unemployed and under-employed service industry workers continue to receive tips from their regular customers, irregular customers, and others within their local community or from afar. Service industry workers in need of tips can provide their name, place of work, and Venmo or Paypal information, and that information can be provided to others looking to tip you.
        <br><br>
        The Tip Your Server (TYS) project supports Virtual Tip Jars by making tipping easier, offering randomly selected people, establishment lists, and adding Venmo and PayPal buttons.
        <br><br>
        Copy this <a href="https://docs.google.com/document/d/1SkyuI5BkGqnTgnXRNy8Kp9nJrrL67synMFKDkbhZkMs/copy">Virtual Tip Jar Template</a> google document to create a tip jar.
        <br><br>
        Check out <a href="https://docs.google.com/document/d/1G5e3f92J1OdXH7HNmHSQJuOQNCiAgePmO0QH2ekHnJU/edit?usp=sharing">their FAQ</a> to learn more.
        <br><br>
        This is a volunteer effort in Madison and Pittsburgh, inspired by the <a href="http://centerforethicsandpolicy.com/PGHTipJar.html">Pittsburgh Virtual Tip Jar</a>
        <br><br>
      </p>

    </div>
  </body>