<h3>Sign up to recieve tips!</h3>
<div class="w3-container">
<h4>Before getting started, have these ready:</h4>
<ul>
    <li>Your Name</li>
    <li>An email or phone number to reach you in case of a confusion in the submission</li>
    <li>Your place of work</li>
    <li> <b>One</b> way to recieve payment, this can be:</li>
    <ul>
        <li>A Venmo: <a href="https://venmo.com">You can create an account by clicking here</a></li>
        <li>A Paypal <a href="htts://paypal.me">You can create an account by clicking here</a></li>
        <li>A Cash.App <a href="https://cash.app/">You can create an account by clicking here</a></li>
    </ul>

</ul>
</div>
<a class="tipButton w3-button w3-purple w3-round-large" href="https://forms.gle/mH1Go8J7RCRCkf6i8"><h3>Once you're ready, click here to fill out a form</h3></a>