<div class="w3-container">
    <div class="w3-card-4">
        <div class="w3-container w3-blue">
            Frequently Asked Questions
        </div>
        <div class="w3-container">
            <h3>What is this?</h3>
            <p>This is a Virtual Tip Jar for Fond du Lac Area Service Workers. The Tip Your Servers Organization started as a way for service workers who are put out of work by the COVID-19 pandemic to receive support completely remotely.
                This fork is created by a Fond du Lac resident and everything on this site is handled locally.</p>
        </div>
        <div class="w3-container">
            <h3>Does TipYourServer or TipYourServerFDL receive any comission?</h3>
            <p>No. TipYourServer or TipYourServerFDL does not receive any comission on any donation, the links go
                directly through Venmo, PayPal or CashApp, the apps themselves may take a small percentage of money
                transferred.</p>
        </div>
        <div class="w3-container">
            <h3>How does TipYourServerFDL verify submissions? Why is there a delay between submitting the form and
                showing up on the website?</h3>
            <p>We do not verify submissions. TipYourServerFDL relies on submissions being truthful. In this global
                pandemic, we can't afford to steal money from those who are being put out of work. If you see someone
                listed as being employed at a company, but they are not, submit an email to udlis.eric@gmail.com. There
                is a manual verification process to make sure links are correct.</p>
        </div>
                <div class="w3-container">
            <h3>I have a question that's not on this list</h3>
            <p>Please email me at udlis.eric@gmail.com, I am happy to help answer any question you may have.</p>
        </div>
    </div>
</div>